{% extends "layout.html"%} {% block manage %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">User</legend>
            <div class="form-group">
                {{ form.firstname.label(class="form-control-label") }}
                {% if form.firstname.errors %}
                {{ form.firstname(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.firstname.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.firstname(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.lastname.label(class="form-control-label") }}
                {% if form.lastname.errors %}
                {{ form.lastname(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.lastname.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.lastname(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
    </form>
</div>

{% endblock manage %} {% block content %}
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.uid }}</td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>
                {% if user.active is sameas true %}
                <button type="button" class="btn btn-success">Active</button>
                {% else %}
                <button type="button" class="btn btn-danger">Inactive</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}