{% extends "layout.html"%}{% block addmodal %}
<div class="content-section">
    <form method="POST" action="">
        {{ addform.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Book</legend>
            <div class="form-group">
                {{ addform.title.label(class="form-control-label") }}
                {% if addform.title.errors %}
                {{ addform.title(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in addform.title.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ addform.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ addform.category.label(class="form-control-label") }}
                {% if addform.category.errors %}
                {{ addform.category(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in addform.category.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ addform.category(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ addform.isbn.label(class="form-control-label") }}
                {% if addform.isbn.errors %}
                {{ addform.isbn(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in addform.isbn.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ addform.isbn(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ addform.author.label(class="form-control-label") }}
                {% if addform.author.errors %}
                {{ addform.author(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in addform.author.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ addform.author(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{addform.submit(class="btn btn-outline-info")}}
        </div>
    </form>
</div>

{% endblock addmodal %} {% block removemodal %}
<div class="content-section">
    <form method="POST" action="">
        {{ removeform.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Book</legend>
            <div class="form-group">
                {{ removeform.book.label(class="form-control-label") }}
                {% if removeform.book.errors %}
                {{ removeform.book(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in removeform.book.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ removeform.book(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{removeform.submit(class="btn btn btn-outline-danger")}}
        </div>
    </form>
</div>

{% endblock removemodal %}{% block content %}
<div class="dropdown">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        Filter by category
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">


        <a class="dropdown-item" href="#">*No Selection*</a>
        {% for category in categories %}
        <a class="dropdown-item" href="/sort_by_categories?category={{category.uid}}">{{category.name}}</a>
        {% endfor %}
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Isbn</th>
            <th>Category</th>
            <th>Author</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.uid }}</td>
            <td><i>{{ book.title }}</i></td>
            <td>{{ book.isbn }}</td>
            <td>{{ book.category }}</td>
            <td>{{ book.author }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
